apiVersion: v1
kind: Secret
metadata:
    name: secret
stringData:
    USERNAME: 
    PASSWORD: 
    REDIS_CONNECTION_STRING: 
    DB_CONNECTION_STRING: 
    OAUTH_CLIENT_ID: 
    OAUTH_SECRET: 
    IMG_UPLOAD_API_KEY: 
    JWT_KEY: 
    URL: 